In [8]:
!pip install census
!pip install us

Requirement already satisfied: census in c:\users\aguha\anaconda3\lib\site-packages (0.8.13)
Requirement already satisfied: requests>=1.1.0 in c:\users\aguha\anaconda3\lib\site-packages (from census) (2.22.0)
Requirement already satisfied: future in c:\users\aguha\anaconda3\lib\site-packages (from census) (0.17.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\aguha\anaconda3\lib\site-packages (from requests>=1.1.0->census) (2019.9.11)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\aguha\anaconda3\lib\site-packages (from requests>=1.1.0->census) (1.24.2)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\aguha\anaconda3\lib\site-packages (from requests>=1.1.0->census) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\aguha\anaconda3\lib\site-packages (from requests>=1.1.0->census) (2.8)
Requirement already satisfied: us in c:\users\aguha\anaconda3\lib\site-packages (2.0.1)
Requirement already satisfied: jellyfish==0.6.1 in c:\users\aguha\anaconda3\lib\site-packages (from us) (0.6.1)

In [21]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine
from census import Census

import numpy as np

import requests

In [22]:
# Census & gmaps API Keys
from config import (api_key, gkey)
c = Census(api_key, year=2013)

In [17]:
# File Path
covid_data_file = "COVID-19_Cases__Tests__and_Deaths_by_ZIP_Code.csv"

# Read CSV
covid_data = pd.read_csv(covid_data_file)

# Filter Out Years After 2015
#unemployment_df = unemployment_df[unemployment_df["Year"] <= 2015]

# Show Data
covid_data.head()

,ZIP Code,Week Number,Week Start,Week End,Cases - Weekly,Cases - Cumulative,Case Rate - Weekly,Case Rate - Cumulative,Tests - Weekly,Tests - Cumulative,...,Test Rate - Cumulative,Percent Tested Positive - Weekly,Percent Tested Positive - Cumulative,Deaths - Weekly,Deaths - Cumulative,Death Rate - Weekly,Death Rate - Cumulative,Population,Row ID,ZIP Code Location
0,60601,26,06/21/2020,06/27/2020,3.0,83.0,20.0,565.6,146,1037,...,7066.4,0.0,0.1,0,6,0.0,40.9,14675,60601-26,POINT (-87.622844 41.886262)
1,60602,26,06/21/2020,06/27/2020,0.0,12.0,0.0,964.6,20,170,...,13665.6,0.0,0.1,0,0,0.0,0.0,1244,60602-26,POINT (-87.628309 41.883136)
2,60603,24,06/07/2020,06/13/2020,0.0,8.0,0.0,681.4,9,87,...,7410.6,0.0,0.1,0,0,0.0,0.0,1174,60603-24,POINT (-87.625473 41.880112)
3,60603,25,06/14/2020,06/20/2020,0.0,8.0,0.0,681.4,13,100,...,8517.9,0.0,0.1,0,0,0.0,0.0,1174,60603-25,POINT (-87.625473 41.880112)
4,60603,26,06/21/2020,06/27/2020,0.0,8.0,0.0,681.4,6,106,...,9029.0,0.0,0.1,0,0,0.0,0.0,1174,60603-26,POINT (-87.625473 41.880112)

In [26]:
# Run Census Search to retrieve data on all states
# Note the addition of "B23025_005E" for unemployment count
census_county_data = c.acs5.state_county(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E"), Census.ALL, Census.ALL)
census_county_df = pd.DataFrame(census_county_data)
state_list = ['Illinois']
census_county_df= census_county_df[census_county_df['state'].isin(Illinois)]

NameError: name 'Illinois' is not defined

In [3]:
# File Path
gdp_file = "usa_gdp.csv"

# Read CSV
gdp_df = pd.read_csv(gdp_file)

# Filter Out Years Before 1948
gdp_df = gdp_df[gdp_df["date"] >= 1948]

# Show Data
gdp_df

    date  level-current  level-chained  change-current  change-chained
18  1948          274.8         2020.0            -0.7            -0.5
19  1949          272.8         2008.9            10.0             8.7
20  1950          300.2         2184.0            15.7             8.1
21  1951          347.3         2360.0             5.9             4.1
22  1952          367.7         2456.1             6.0             4.7
..   ...            ...            ...             ...             ...
81  2011        15517.9        15020.6             4.1             2.2
82  2012        16155.3        15354.6             3.3             1.7
83  2013        16691.5        15612.2             4.4             2.6
84  2014        17427.6        16013.3             4.0             2.9
85  2015        18120.7        16471.5             2.8             1.5

[68 rows x 5 columns]

In [4]:
# Set Columns to Keep
gdp_cols = ["date", "level-current", "change-current"]

# Make a Copy, Keeping Columns Listed Above
gdp_transformed = gdp_df[gdp_cols].copy()

# Rename Columns
gdp_transformed = gdp_transformed.rename(columns={"date": "year",
                                                  "level-current": "level_current",
                                                  "change-current": "change_current"})

# Drop Duplicates
gdp_transformed.drop_duplicates("year", inplace=True)

# Set Index to "year"
gdp_transformed.set_index("year", inplace=True)

# Show Data
gdp_transformed.head()

      level_current  change_current
year
1948          274.8            -0.7
1949          272.8            10.0
1950          300.2            15.7
1951          347.3             5.9
1952          367.7             6.0

In [5]:
# Copy Unemployment DataFrame
unemployment_transformed = unemployment_df.copy()

# Rename Columns
unemployment_transformed = unemployment_transformed.rename(columns={"Year": "year",
                                                         "Jan": "january",
                                                         "Feb": "february",
                                                         "Mar": "march",
                                                         "Apr": "april", 
                                                         "May": "may",
                                                         "Jun": "june",
                                                         "Jul": "july",
                                                         "Aug": "august",
                                                         "Sep": "september",
                                                         "Oct": "october",
                                                         "Nov": "november",
                                                         "Dec": "december"})

# Drop Duplicates
unemployment_transformed.drop_duplicates("year", inplace=True)

# Set Index to "year"
unemployment_transformed.set_index("year", inplace=True)

# Show Data
unemployment_transformed.head()

,january,february,march,april,may,june,july,august,september,october,november,december
year,,,,,,,,,,,,
1948,3.4,3.8,4.0,3.9,3.5,3.6,3.6,3.9,3.8,3.7,3.8,4.0
1949,4.3,4.7,5.0,5.3,6.1,6.2,6.7,6.8,6.6,7.9,6.4,6.6
1950,6.5,6.4,6.3,5.8,5.5,5.4,5.0,4.5,4.4,4.2,4.2,4.3
1951,3.7,3.4,3.4,3.1,3.0,3.2,3.1,3.1,3.3,3.5,3.5,3.1
1952,3.2,3.1,2.9,2.9,3.0,3.0,3.2,3.4,3.1,3.0,2.8,2.7

In [6]:
# Set Connection String
connection_string = "postgres:postgres@localhost:5432/unemployment_db"

# Set Engine
engine = create_engine(f'postgresql://{connection_string}')

In [7]:
# Confirm Tables
engine.table_names()

['unemployment', 'gdp']

In [8]:
# Fill Unemployment Table
unemployment_transformed.to_sql(name='unemployment', con=engine, if_exists='append', index=True)

In [9]:
# Fill GDP Table
gdp_transformed.to_sql(name='gdp', con=engine, if_exists='append', index=True)